<div class="column column-1-1">
    <p class="text-center">Hello World</p>

        <div class="slider">
            <a class="left" onClick="left()">left</a>
              <div class="display">
                <div class="citem">
                <img src="http://stevensegallery.com/600/300">
                </div>
                <div class="citem">
                  <img src="http://stevensegallery.com/600/400">
                  <p>blah2</p>
                </div>
                <div class="citem">
                 <img src="http://stevensegallery.com/g/600/300"> 
                 <p>
                  blah3
                  </p>
                </div>
                <div class="citem">
                 <img src="http://stevensegallery.com/600/500">
                  <p>
                   vorgy4
                  </p>
                </div>
                    <div class="citem">
                 <img src="http://stevensegallery.com/400/500">
                  <p>
                   vorgy4
                  </p>
                </div>
              </div>
            <a class="right" onClick="right()">right</a>
        </div>

    
    <div id="movieList"></div>
    <a href="#/newpost">New Post</a>
    <a href="#/login">Login</a>
</div>