//overrides for new themes

primary-main = rgba( 39, 64,123,1)
primary-highlight = rgba(206,209,215,1)
primary-light = rgba( 85,108,161,1)
primary-dark = rgba( 10, 30, 79,1)
primary-shadow = rgba(  6,  8, 13,1)

tertiary-main = rgba(184,183, 44,1)
tertiary-highlight = rgba(255,255,244,1)
tertiary-light = rgba(240,239,114,1)
tertiary-dark = rgba(118,117,  2,1)
tertiary-shadow = rgba( 19, 19,  8,1)

secondary-main = rgba(184, 47, 44,1)
secondary-highlight = rgba(255,244,244,1)
secondary-light = rgba(240,117,114,1)
secondary-dark = rgba(118,  5,  2,1)
secondary-shadow = rgba( 19,  9,  8,1)




/*
primary-main = rgba(111, 19, 24,1)
primary-highlight = rgba(172,154,155,1)
primary-light = rgba(139, 45, 50,1)
primary-dark = rgba( 81,  0,  4,1)
primary-shadow = rgba( 14,  0,  1,1)

tertiary-main = rgba(113, 82, 20,1)
tertiary-highlight = rgba(175,169,157,1)
tertiary-light = rgba(141,109, 46,1)
tertiary-dark = rgba( 83, 55,  0,1)
tertiary-shadow = rgba( 14, 10,  0,1)

secondary-main = rgba( 51, 17, 76,1)
secondary-highlight = rgba(113,106,117,1)
secondary-light = rgba( 70, 35, 95,1)
secondary-dark = rgba( 34,  3, 56,1)
secondary-shadow = rgba(  6,  1, 10,1)




/*
primary-main  =  rgba(170,105,108,1)   	/* Main Primary color 
primary-highlight  = rgba(221,196,197,1)   
primary-light  = rgba(204,149,152,1)   
primary-dark  =     rgba(136, 72, 76,1)   
primary-shadow  =     rgba(  63, 21, 23,1)   

 

secondary-main  =     rgba(101, 74,116,1)   	/* Main Secondary color (2) 
secondary-highlight  =     rgba(144,134,150,1)   
secondary-light  =     rgba(127,103,139,1)   
secondary-dark  =     rgba(78, 51, 92,1)   
secondary-shadow  =     rgba(34, 16, 43,1)   

 tertiary-main  =     rgba(173,149,107,1)   	/* Main  tertiary color (1) 
 tertiary-highlight  =     rgba(225,215,199,1)   
 tertiary-light  =     rgba(208,188,152,1)   
 tertiary-dark  =     rgba(138,115, 74,1)   
 tertiary-shadow  =     rgba(65, 49, 22,1)  

/*


.rgba-secondary-2-0 { color: rgba() }	/* Main Secondary color (2) *
.rgba-secondary-2-1 { color: rgba() }
.rgba-secondary-2-2 { color: rgba() }
.rgba-secondary-2-3 { color: rgba( 1) }
.rgba-secondary-2-4 { color: rgba() }
*/