//overrides for new themes

primary-main  =  rgba(170,105,108,1)   	/* Main Primary color */
primary-highlight  = rgba(221,196,197,1)   
primary-light  = rgba(204,149,152,1)   
primary-dark  =     rgba(136, 72, 76,1)   
primary-shadow  =     rgba(  63, 21, 23,1)   

 

secondary-main  =     rgba(101, 74,116,1)   	/* Main Secondary color (2) */
secondary-highlight  =     rgba(144,134,150,1)   
secondary-light  =     rgba(127,103,139,1)   
secondary-dark  =     rgba(78, 51, 92,1)   
secondary-shadow  =     rgba(34, 16, 43,1)   

 tertiary-main  =     rgba(173,149,107,1)   	/* Main  tertiary color (1) */
 tertiary-highlight  =     rgba(225,215,199,1)   
 tertiary-light  =     rgba(208,188,152,1)   
 tertiary-dark  =     rgba(138,115, 74,1)   
 tertiary-shadow  =     rgba(65, 49, 22,1)  

/*


.rgba-secondary-2-0 { color: rgba() }	/* Main Secondary color (2) *
.rgba-secondary-2-1 { color: rgba() }
.rgba-secondary-2-2 { color: rgba() }
.rgba-secondary-2-3 { color: rgba( 1) }
.rgba-secondary-2-4 { color: rgba() }
*/