//overrides for new themes

primary-main  =  rgba(170,105,108,1)   	/* Main Primary color */
primary-highlight  = rgba(247,208,210,1)   
primary-light  = rgba(204,149,152,1)   
primary-dark  =     rgba(136, 72, 76,1)   
primary-shadow  =     rgba( 112, 40, 44,1)   

secondary-main  =     rgba(173,149,107,1)   	/* Main Secondary color (1) */
secondary-highlight  =     rgba(251,237,212,1)   
secondary-light  =     rgba(208,188,152,1)   
secondary-dark  =     rgba(138,115, 74,1)   
secondary-shadow  =     rgba(114, 88, 41,1)   

secondary-main  =     rgba(101, 74,116,1)   	/* Main Secondary color (2) */
secondary-highlight  =     rgba(159,143,167,1)   
secondary-light  =     rgba(127,103,139,1)   
secondary-dark  =     rgba(78, 51, 92,1)   
secondary-shadow  =     rgba( 61, 30, 76,1)   

/*


.rgba-secondary-2-0 { color: rgba() }	/* Main Secondary color (2) *
.rgba-secondary-2-1 { color: rgba() }
.rgba-secondary-2-2 { color: rgba() }
.rgba-secondary-2-3 { color: rgba( 1) }
.rgba-secondary-2-4 { color: rgba() }
*/