/*default styles for tags here*/


body
    background-color primary-highlight
    color primary-text-light
    
form
	width: 40%
	margin: 5% auto
	padding: 2%
	background: #fafafa
	border: 1px solid #ebebeb
	box-shadow: shadow-low
    
input
	font-size: 18px
	padding: 10px 10px 10px 5px
	-webkit-appearance: none
	display: block
	background: #fafafa
	color: #636363
	width: 100%
	border: none
	border-radius: 0
	border-bottom: 1px solid #757575
	margin: 10px 0

input:focus 
    outline: none
    
textarea
	font-size: 18px
	padding: 10px 10px 10px 5px
	height: 150px
	-webkit-appearance: none
	display: block
	background: #fafafa
	color: #636363
	width: 100%
	border: none
	border-radius: 0
	border-bottom: 1px solid #757575

textarea:focus 
    outline: none
